.calc-container {
    text-align: center;
    margin: auto;
    position: absolute;
    background: #E34A64;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 370px;
    -webkit-box-shadow: 10px 10px 31px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 31px 0 rgba(0,0,0,0.75);
    box-shadow: 10px 10px 31px 0 rgba(0,0,0,0.75);
}

input {
    text-align: right;
    width: 100%;
    highlight: none;
    font-family: 'Open Sans', sans-serif;
    border: 3px solid #E34A64;
}

input:focus {
    outline: none;
}

#text {
    font-size: 2.2em;
    color: white;
    padding-right: 30px;
    padding-left: 25px;
    background: #576973;
    border: none;
}

#equation {
    font-size: 1.2em;
    margin: 0;
    padding-right: 30px;
    padding-left: 25px;
    background: #576973;
    border: none;
    color: white;
}

.col-xs-3 {
    padding: 0;
}

.clear-button,
.eval-button,
.num-button,
.op-button,
.zero-button {
    background: #E34A64;
    width: 100%;
    padding: 15%;
    text-align: center;
    font-size: 1.5em;
    color: white;
}

.zero-button:active {
    background: #A4B6BF;
}

.num-button:active {
    background: #A4B6BF;
}

.clear-button:active {
    background: #A4B6BF;
}

.eval-button:active {
    background: #A4B6BF;
}

.op-button:active {
    background: #A4B6BF;
}

.zero-button:hover {
    background: #A4B6BF;
}

.num-button:hover {
    background: #A4B6BF;
}

.clear-button:hover {
    background: #A4B6BF;
}

.eval-button:hover {
    background: #A4B6BF;
}

.op-button:hover {
    background: #A4B6BF;
}

.zero-button {
    width: 200%;
}

.eval-button {
    height: 118px;
}
