

form{
  pading-top:30px;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 300px;
  height: 400px;
}

input {
    text-align: right;
    width: 100%;
    highlight: none;
    font-family: 'Open Sans', sans-serif;
    border: 3px solid #90100D;
}

input:focus {
    outline: none;
}

#text {
    font-size: 2em;
    padding: 15px;
    color: #555;
    padding-right: 25px;
    padding-left: 25px;
    background: pink;
}
.col-xs-3 {
    padding: 0;
}

.num-button,
.zero-button,
.clear-button,
.eval-button,
.op-button {
    background: #90100D;
    width: 100%;
    padding: 15%;
    text-align: center;
    font-size: 1.5em;
    color: white;

}

.zero-button {
    width: 200%;
}
.eval-button{
  height:118px;
}
